* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0; }
#body_{
    height: 100%;
    display: -webkit-flex;
    flex-direction: column; }
html {
  /*1vw=3.75px;
      100px/3.75px=26.67vw;*/
  font-size: 26.67vw; }

html, body {
  height: 100%; }

body {
  font-size: .12rem; }

img {
  display: block; }

a {
  color: #333333;
  text-decoration: none; }

input {
  outline: none; }

/*center*/
.center {
  flex: 1;
  overflow-y: scroll; }
